body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: #feda4a;
}

.galactic-intro {
    text-align: center;
    margin-top: 20%;
    animation: fadeOut 5s forwards;
}

.intro-text {
    font-size: 2em;
    text-transform: uppercase;
}

.crawl-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 400px;
}

.crawl {
    position: absolute;
    top: 100%;
    width: 90%;
    left: 5%;
    transform-origin: 50% 100%;
    animation: crawl 50s linear infinite;
}

.title {
    font-size: 200%;
    text-align: center;
}

.title p {
    margin: 0;
}

@keyframes crawl {
    0% {
        top: 100%;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -800%; /* Increased this to make the text disappear further up */
        transform: rotateX(25deg) translateZ(-2000px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
