body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: #feda4a;
}

.galactic-intro {
    text-align: center;
    margin-top: 10%; /* Adjusted margin for better visibility */
    animation: fadeOut 5s forwards;
}

.intro-text {
    font-size: 3em; /* Increased font size for better readability */
    text-transform: uppercase;
}

.crawl-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 400px;
}

.crawl {
    position: absolute;
    top: 100%;
    width: 80%; /* Slightly narrower for better readability */
    left: 10%; /* Adjusted centering */
    transform-origin: 50% 100%;
    animation: crawl 50s linear infinite;
    font-size: 3em; /* Increased font size for easier reading */
    line-height: 1.5; /* Added line height for better spacing */
    text-align: center;
}

.title {
    font-size: 2.5em; /* Increased title font size */
    text-align: center;
}

.title p {
    margin: 0;
}

@keyframes crawl {
    0% {
        top: 100%;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -800%; /* Text disappears further up */
        transform: rotateX(25deg) translateZ(-2000px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
